
body {
    box-sizing: border-box;
    background: hsl(0, 0%, 95%);
}


.container {
    display: inline-flex; 
    justify-content: center;
    margin: 5% 20% 6% 20%;
}

.coluna-sedans, .coluna-suvs, .coluna-luxury {
    display: inline-block;
    padding: 20px 30px 20px 30px;

}

.coluna-sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.coluna-suvs {
    background-color: hsl(184, 100%, 22%);
}

.coluna-luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}



h1 {
    color: hsl(0, 0%, 100%);
    font-size: 35px;
    font-family: 'Big Shoulders Display', cursive;
    text-align: left;
    font-weight: bold;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
    padding: 30px 5px 90px 5px;
    line-height: 20px;
}

button {
    background: hsl(0, 0%, 95%);
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 2rem;
    border: 2px solid hsl(0, 0%, 95%);
    transition-duration: 0.4s;
}

.bt-sedan {
    color: hsl(31, 77%, 52%);
}
.bt-suv {
    color: hsl(184, 100%, 22%);
}
.bt-luxury {
    color: hsl(179, 100%, 13%);
}

button:hover {
    background: none;
    color: hsl(0, 0%, 95%);
}


footer {
    font-size: 11px;
    text-align: center;
    bottom: 0;
    padding-top: 20px;
    
}
footer a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 700px) {
    .container {
        display: grid;
    }
    .coluna-sedans {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .coluna-luxury {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}
